[{:itonami.blueprint/social-impact [:local-jobs :road-safety :transport-access], :itonami.blueprint/domain :logistics/motorcycle-dispatch, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "8321", :itonami.blueprint/name "Independent Motorcycle Courier Dispatch Practice", :itonami.blueprint/governor :motorcycle-dispatch-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-8321", :itonami.blueprint/license "AGPL-3.0-or-later", :itonami.blueprint/maturity :implemented}]
